
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-icon {
  margin-top: 30vh;
  border-radius: 50%;
  width: 300px;
}

h1, h6 {
  font-weight: 700;
  color: white;
}

/* Materialize styling */

.pin-container {
  height: 64px;
}

.fixed-action-btn{
  top: 3vh;
  bottom: auto;
}

.parallax-container {
  height: 100vh;
}

.row {
  margin-bottom: 0;
}

.block {
  min-height: 20vh;
}

.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

/* Materialize styling end */

footer {
  min-height: 200vh;
}

@media only screen and (max-width: 600px) {
  .profile-icon {
    width: 50vw;
  }
  h1 {
    font-size: 3em;
  }
}