
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-icon {
  margin-top: 30vh;
  border-radius: 50%;
  width: 300px;
}

h1, h6 {
  font-weight: 700;
  color: white;
}

.bio {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}


/* Materialize styling */

.pin-container {
  height: 64px;
}

.fixed-action-btn{
  top: 3vh;
  bottom: auto;
}

.parallax-container {
  height: 100vh;
}

.row {
  margin-bottom: 0;
}

.block {
  min-height: 20vh;
}

.pin-top {
  position: relative;
  z-index: 9;
}

.pin-bottom {
  position: relative;
  z-index: 9;
}

.pinned {
  position: fixed !important;
  z-index: 9;
}

.slides {
  margin: auto;
  width: 80vw;
}

/* Materialize styling end */

footer {
  min-height: 200vh;
}

@media only screen and (max-width: 600px) {
  .profile-icon {
    width: 50vw;
  }
  h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 992px) {
  .valign-wrapper {
    display: inline-block;
  }
}